.header {
    border-radius: 20px 20px 0 0;
    font-size: 1.5em;
}

h4 {
    font-size: 3.5em;
}

h5 {
    font-size: 2em;
}

p {
    font-size: 1.5em;
}

.footer {
    border-radius: 0 0 20px 20px;
    color:#fff;
}

.card {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.card__group {
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: auto;
    gap: 2%;
}

.img {
    width: 100%;
    height: 100%;
}